body, h1, h2, h3, h4, a{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

#main-container{
    width: 980px;
    margin: 0 auto;
}

/*Header Styles*/
#main-header{
    width: 100%;
    height: 87px;
}

.logo {
    position: relative;
    top: 5px;
}

#main-header img:first-child{
    margin-left: 20px;
}

#main-header h4 {
    color: #b7b6b6;
    display: inline-block;
    float: right;
    font-size: 0.8em;
    margin-right: 38px;
    margin-top: 50px;
}

#header-navi-menu{
    display: none;
}

#header-navi-menu ul{
    margin: 0;
    padding: 0;
    text-align: center;
}

#header-navi-menu ul li {
    border-left-style: solid;
    border-width: 0.5px;
    display: inline;
    height: 40px;
    list-style: outside none none;
    padding-left: 5px;
    padding-right: 5px;
}

#header-navi-menu ul li:first-child{
    border: none;
}

#header-navi-menu a{

}

/*Media Queries*/

@media (max-width: 980px) {
    #main-container {
        width: 760px;
    }
    #main-container h4{
        font-size: 0.5em;
    }
    #main-header{
        height: 102px;
    }
    #header-navi-menu{
        display: block;
    }
}

