.gallery-imgbox {
    display: inline-block;
    height: 200px;
    margin: 5px;
    width: 300px;
}

@media (max-width: 980px) {
    .gallery-imgbox {
        height: 160px;
        width: 226px;
    }
}