#map-canvas {
    height: 400px;
    width: auto;
    margin: 0px;
    padding: 0px
}

@media (max-width: 980px) {
    #right-bucket{
        height: 375px;
        width: auto;
    }
    .right-bucket-sub {
        display: inline-table;
        margin-right: 10px;
        width: 210px;
    }
    .right-bucket-sub a{
        font-size: 0.7em;
    }
    #right-bucket div:last-child{
        margin-right: 40px;
    }
}
