#map-canvas {
    height: 150px;
    width: auto;
    margin: 0px;
    padding: 0px
}

#map-bottom-bucket{
    background-color: #e67d22;
}

#map-bottom-bucket a{
    margin: 0;
    font-size: 1em;
}

#map-bottom-bucket a p {
    color: #fff;
    padding: 5px;
}